<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- rec.title -}} </title>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a>
{% for topic in rec.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> | {{ topic.name }}  </A>
{% endfor %}
</h1>
</div>


<h1 class="title">
{{ rec.title }}
</h1>
<div class="authors">
<A HREF="{{- rec.author.get_local_url() -}}">
{{ rec.author.name }}
</A>
</div>

<h3>Recommendation for <A HREF="{{- rec.parent.get_value('local_url') -}}">
{{ rec.parent.title }}
</a></h3>

<blockquote class="abstract">
{{ rec.text }}
</blockquote>

<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>

{% if hasattr(rec.author, 'gplus') %}
<a href=" {{- rec.author.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- rec.author.gplus['image']['url'] -}} ">Subscribe</a>
{% endif %}


</body>
</html>
