<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- person.name -}} </title>
</head>

<body>

<h1 class="title">
{{ person.name }}
</h1>

{% if hasattr(person, 'gplus') %}
<a href=" {{- person.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- person.gplus['image']['url'] -}} ">Subscribe</a>
{% endif %}


{% if person.posts %}
<h3>Papers</h3>
<dl>
{% for i,paper in enumerate(person.papers) %}
<dt>[ {{- i + 1 -}} ]
<A HREF="{{- paper.get_value('local_url') -}}">
{{ paper.title }}
</A></dt>
{% endfor %}
</dl>
{% endif %}


{% if person.posts %}
<h3>Discussion</h3>

<dl>
{% for i,post in enumerate(person.posts) %}
<dt>[ {{- i + 1 -}} ] Comment on
<A HREF="{{- post.parent.get_value('local_url') -}}">
{{ post.parent.title }}
</a></dt>
<dd>
<div class="list-comments">{{ post.text }}
{% if hasattr(post, 'url') %}
<a href=" {{- post.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
{% for reply in post.get_replies() %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies:
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>
{% endif %}


</body>
</html>
