<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/css/arXiv.css" />
<title> {{- person.name -}} </title>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a> &gt; 
People &gt; 
{% if hasattr(person, 'gplus') %}
<a href=" {{- person.gplus['url'] -}} "> {{- person.name -}} </a>
{% else %}
{{ person.name }}
{% endif %}
</h1>
<form id="search" method="GET" action="/papers">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://docs.selectedpapers.net">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)
{% if user %}
 | <a href="/signout">Signout</a>
{% endif %}
</div>
<input type="text" name="searchString" size="24" maxlength="256" />
&nbsp;
<select name="searchType">
<option value="arxiv" selected="selected">arXiv</option>
<option value="arxivID">arXiv ID</option>
<option value="DOI">DOI</option>
<option value="shortDOI">Short DOI</option>
<option value="PMID">Pubmed ID</option>
<option value="pubmed">Pubmed</option>
<option value="ncbipubmed">Pubmed (ncbi)</option>
</select>
<input type="submit" value="Go!" /><br />
</form>
</div>

<h1 class="title">
{{ person.name }}
</h1>

{% if hasattr(person, 'gplus') %}
<a href=" {{- person.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- person.gplus['image']['url'] -}} ">Subscribe</a>
<form id="updater" method="GET" action=" {{- person.get_local_url() -}} ">
<input type="hidden" name="getUpdates" value="1"/>
Check
<select name="timeframe">
<option value="recent" selected="selected">last 20 days</option>
{% if user == person %}
<option value="all">ALL</option>
{% endif %}
</select>
of this person's posts for updates.
<input type="submit" value="Get updates"
title="retrieve latest posts and recommendations from this person via Google+" />
(Normally not needed unless old posts re-tagged with #spnetwork)
</form>

{% if user == person %}
<h3>Invitations</h3>
Would you like to invite your contacts on Google+ to share
their comments and recommendations on papers with you via SelectedPapers.net?
(This will simply bring up a Google+ window where you can send
them an invitation post).<br>
<button
  class="g-interactivepost"
  data-contenturl=" {{- user.get_spnet_url() -}} "
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="I've subscribed to get your recommendations and comments on research papers via SelectedPapers.net.  To use this, just include hashtags in your posts (e.g. #spnetwork arXiv:1301.4176, for details see http://docs.selectedpapers.net/tags.html) or simply have SelectedPapers.net insert the appropriate hashtags in your posts for you.  It works automatically with your Google+ sign-in.  You can also use this to find and filter paper recommendations from others who share your interests."
  data-calltoactionlabel="VIEW"
  data-calltoactionurl=" {{- user.get_spnet_url() -}} "
  title="Click to recommend this paper on Google+">
  Post Invitation
</button>

{% endif %}
{% endif %}


{% if person.recommendations %}
<h3>Recommendations</h3>
<dl>
{% for i,rec in enumerate(timesort(person.recommendations)) %}
<dt>[ 
<A HREF="{{- rec.get_local_url() -}}">
{{- i + 1 -}} </A> ]
<A HREF="{{- rec.author.get_local_url() -}}">
{{ rec.author.name }}
</A>: <B>{{ rec.title }}</B> ( {{- display_datetime(rec.published) -}} )
<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
{% if hasattr(rec, 'url') %}
<a href=" {{- rec.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
</dt>
<dd>
<span class="list-identifier">Recommended:
<A HREF="{{- rec.parent.get_value('local_url') -}}"> 
{{ rec.parent.title }} </A>
</span>
<div class="list-comments">
{{ rec.text }}
{% for reply in timesort(rec.get_replies()) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>
{% endif %}

{% if person.interests %}
<h3>Tagged the Following Papers as Interesting</h3>
<dl>
{% for i,interest in enumerate(person.interests) %}
<dt>[ {{- i + 1 -}} ]
<A HREF="{{- interest.parent.get_value('local_url') -}}">
{{ interest.parent.title }}
</A></dt>
<dd>Of interest for:
{% for topic in interest.topics %}
<a href=" {{- topic.get_local_url() -}} "> {{- topic.name -}} </a>
{% endfor %}
</dd>
{% endfor %}
</dl>
{% endif %}


{% if person.posts %}
<h3>Discussion</h3>

<dl>
{% for i,post in enumerate(timesort(person.posts)) %}
<dt>[ {{- i + 1 -}} ] Comment on
<A HREF="{{- post.parent.get_value('local_url') -}}">
{{ post.parent.title }}
</a> 
{% if post.sigs %}
RE: topics:
{% for topic in post.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> {{ topic.name }} </A>
{% endfor %}
{% endif %}
( {{- display_datetime(post.published) -}} )</dt>
<dd>
<div class="list-comments">{{ post.text }}
{% if hasattr(post, 'url') %}
<a href=" {{- post.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
{% for reply in timesort(post.get_replies()) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>
{% endif %}


<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</body>
</html>
