<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/css/arXiv.css" />
<title> {{- post.title -}} </title>

<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>

</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a>
| Posts
</h1>
<form id="search" method="GET" action="/papers">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://docs.selectedpapers.net">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)
{% if user %}
 | <a href="/signout">Signout</a>
{% endif %}
</div>
<input type="text" name="searchString" size="24" maxlength="256" />
&nbsp;
<select name="searchType">
<option value="arxiv" selected="selected">arXiv</option>
<option value="arxivID">arXiv ID</option>
<option value="DOI">DOI</option>
<option value="shortDOI">Short DOI</option>
<option value="PMID">Pubmed ID</option>
<option value="pubmed">Pubmed</option>
<option value="ncbipubmed">Pubmed (ncbi)</option>
<option value="spnetPerson">People on spnet</option>
<option value="topic">Topics on spnet</option>
<option value="comment">Comments on spnet</option>
</select>
<input type="submit" value="Go!" /><br />
</form>
</div>


<div id="content">
<h1 class="title">
{{ post.title }}
</h1>
<div class="authors">
{% if hasattr(post.author, 'gplus') %}
<a href=" {{- post.author.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- post.author.gplus['image']['url'] -}} "></a>
{% endif %}
<A HREF="{{- post.get_value('author_url') -}}">
{{ post.get_value('author_name') }}
</A> ( {{- display_datetime(post.published) -}} )
</div>

<h3>Comment on <A HREF="{{- post.get_value('parent_url') -}}">
{{ post.parent.title }}
</a>
<a href="https://plus.google.com/share? {{- urlencode(dict(url=post.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
</h3>
{% if post.get_value('topics') %}
For topics:
{% for topic in post.get_value('topics') %}
<A HREF="{{- topic.get_local_url() -}}"> {{ topic.name }}  </A>
{% endfor %}
{% endif %}

<blockquote class="abstract">
{{ post.get_text() }}
</blockquote>

{% for reply in timesort(post.get_replies(), reverse=False) %}
<li><A HREF="{{- reply.get_author_url() -}}">
{{ reply.get_author_name() }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
<blockquote class="abstract">
{{ reply.get_text() }}
</blockquote>
</li>
{% endfor %}

</div>

</body>
</html>
