<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- topic.name -}} </title>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/>
<a href="/">SelectedPapers.net</a> &gt; Topic Group &gt; {{ topic.name }}
{% if user %}
&nbsp;|&nbsp;
<a href=" {{- user.get_local_url() -}} "> {{- user.name -}} </a>
{% else %}
<A HREF="/gplus_login"><IMG SRC="/images/White-signin_Long_base_20dp.png"></A>
{% endif %}
</h1>
<form id="search" method="GET" action="/arxiv">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://arxiv.org/help">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)</div>
<input type="text" name="searchString" size="24" maxlength="64" />
&nbsp;
<input type="submit" value="Go!" /><br />
</form>
</div>

{% if topic.recommendations %}
<h3>Recommendations</h3>
<dl>
{% for i,rec in enumerate(timesort(topic.recommendations)) %}
<dt>[ 
<A HREF="{{- rec.get_local_url() -}}">
{{- i + 1 -}} </A> ]
<A HREF="{{- rec.author.get_local_url() -}}">
{{ rec.author.name }}
</A>: <B>{{ rec.title }}</B> ( {{- display_datetime(rec.published) -}} )
<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
{% if hasattr(rec, 'url') %}
<a href=" {{- rec.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
</dt>
<dd>
<span class="list-identifier">Recommended:
<A HREF="{{- rec.parent.get_value('local_url') -}}"> 
{{ rec.parent.title }} </A>
</span>
<div class="list-comments">
{{ rec.text }}
{% for reply in timesort(rec.get_replies()) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>
{% endif %}

<h3>Papers</h3>

<dl>
{% for i,(paper,people) in enumerate(topic.get_interests().items()) %}
<dt>[ {{- i + 1 -}} ]:
<A HREF="{{- paper.get_value('local_url') -}}">
{{ paper.title }}
</A> ( {{- list_people(people) -}} )
</dt>
{% endfor %}
</dl>


</body>
</html>


