<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/css/arXiv.css" />
<title> {{- topic.name -}} </title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>

</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/>
<a href="/">SelectedPapers.net</a> &gt; Topic Group &gt; {{ topic.name }}
</h1>
<form id="search" method="GET" action="/papers">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://docs.selectedpapers.net">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)
{% if user %}
 | <a href="/signout">Signout</a>
{% endif %}
</div>
<input type="text" name="searchString" size="24" maxlength="256" />
&nbsp;
<select name="searchType">
<option value="arxiv" selected="selected">arXiv</option>
<option value="arxivID">arXiv ID</option>
<option value="DOI">DOI</option>
<option value="shortDOI">Short DOI</option>
<option value="PMID">Pubmed ID</option>
<option value="pubmed">Pubmed</option>
<option value="ncbipubmed">Pubmed (ncbi)</option>
<option value="spnetPerson">People on spnet</option>
<option value="topic">Topics on spnet</option>
<option value="comment">Comments on spnet</option>
</select>
<input type="submit" value="Go!" /><br />
</form>
</div>

<div id="content">
{% if topic.recommendations %}
<h3>Recommendations</h3>
<dl>
{% for i,rec in enumerate(timesort(topic.recommendations)) %}
<dt>[ 
<A HREF="{{- rec.get_local_url() -}}">
{{- i + 1 -}} </A> ]
<A HREF="{{- rec.author.get_local_url() -}}">
{{ rec.author.name }}
</A>: <B>{{ rec.title }}</B> ( {{- display_datetime(rec.published) -}} )
<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
{% if hasattr(rec, 'url') %}
<a href=" {{- rec.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
</dt>
<dd>
<span class="list-identifier">Recommended:
<A HREF="{{- rec.parent.get_value('local_url') -}}"> 
{{ rec.parent.title }} </A>
</span>
<div class="list-comments">
<input type="checkbox" id="rectoggle {{- i -}}"/>Show discussion.<BR>
<div id="rectext {{- i -}}" style="display: none">
{{ rec.get_text() }}
{% for reply in timesort(rec.get_replies(), reverse=False) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.get_text() }}
</li>
{% endfor %}
</div>
</div>
</dd>

<script>
$( "#rectoggle {{- i -}}" ).click(function() {
  $( "#rectext {{- i -}}" ).toggle();
});
</script>
{% endfor %}
</dl>
{% endif %}


{% if len(topic.posts) > len(topic.recommendations) %}
<h3>Discussion</h3>
<dl>
{% set i = 0 %}
{% for post in timesort(topic.posts) %}
{% if not post.is_rec() %}
{% set i = i + 1 %}
<dt>[ {{- i -}} ]
<A HREF="{{- post.author.get_local_url() -}}">
{{ post.author.name }}
</A> 
commented on <A HREF="{{- post.parent.get_value('local_url') -}}"> 
{{- post.parent.title -}} </A>
{% if post.sigs %}
RE: topics:
{% for topic2 in post.sigs %}
<A HREF="{{- topic2.get_local_url() -}}"> {{ topic2.name }} </A>
{% endfor %}
{% endif %}
( {{- display_datetime(post.published) -}} )
</dt>
<dd>
<div class="list-comments">
<input type="checkbox" id="disctoggle {{- i -}}"/>Show discussion.<BR>
<div id="disctext {{- i -}}" style="display: none">
{{ post.get_text() }}
{% for reply in timesort(post.get_replies(), reverse=False) %}
<li><A HREF="{{- reply.get_author_url() -}}">
{{ reply.get_author_name() }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.get_text() }}
</li>
{% endfor %}
</div>
</div>
</dd>

<script>
$( "#disctoggle {{- i -}}" ).click(function() {
  $( "#disctext {{- i -}}" ).toggle();
});
</script>
{% endif %}
{% endfor %}
</dl>
{% endif %}

<h3>Papers</h3>

<dl>
{% for i,(paper,people) in enumerate(topic.get_interests().items()) %}
<dt>[ {{- i + 1 -}} ]:
<A HREF="{{- paper.get_value('local_url') -}}">
{{ paper.title }}
</A> ( {{- list_people(people) -}} )
</dt>
<dd>
<div class="list-authors">
{{ ', '.join(paper.authorNames) }} 
</div>
</dd>
{% endfor %}
</dl>
</div>

</body>
</html>


