<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- paper.title -}} </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>

<script type="text/javascript">
function setInterest(topicID, state, userID)
{
  $.post("/papers/ {{- paper._id -}} /likes/" + userID,
  {
    topic:topicID,
    state:state
  });
}

function toggleInterest(o, userID)
{
  if (o.value == "1")
  {
    o.value="0";
  }
  else
  {
    o.value="1"
  }
  setInterest(o.name, o.value, userID);
}


function toggleReadingList(o, userID)
{
  if (o.value == "1")
  {
    o.value="0";
  }
  else
  {
    o.value="1"
  }
  $.post("/people/" + userID + "/reading/" + "{{- paper._id -}}",
  {
    state:o.value
  });
}
</script>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a> &gt; 
{% if hasattr(paper, 'arxiv') %}
<a href="http://arxiv.org">arXiv.org</a> &gt; <a href=" {{- paper.get_value('source_url') -}} "> {{- paper.arxiv.id -}} </a>
{% elif hasattr(paper, 'pubmed') %}
<a href="http://www.ncbi.nlm.nih.gov/pubmed">Pubmed</a> &gt; <a href=" {{- paper.get_value('source_url') -}} "> {{- paper.pubmed.id -}} </a>
{% elif hasattr(paper, 'doi') %}
<a href="http://www.crossref.org/guestquery/">DOI</a> &gt; <a href=" {{- paper.get_value('source_url') -}} "> {{- paper.doi.id -}} </a>
(<A href="http://shortdoi.org/">short DOI</A>)
{% endif %}
{% if user %}
&nbsp;|&nbsp;
<a href=" {{- user.get_local_url() -}} "> {{- user.name -}} </a>
{% else %}
<A HREF="/gplus_login"><IMG SRC="/images/White-signin_Long_base_20dp.png"></A>
{% endif %}
</h1>
<form id="search" method="GET" action="/arxiv">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://arxiv.org/help">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)</div>
<input type="text" name="searchString" size="24" maxlength="64" />
&nbsp;
<input type="submit" value="Go!" /><br />
</form>
</div>

<h1 class="title">
{{ paper.title }}
</h1>
<div class="authors">
{{ ', '.join(paper.authorNames) }}
</div>

<h3>Abstract
<a href="https://plus.google.com/share? {{- urlencode(dict(url=paper.get_value())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this paper on Google+"/></a>
<a href=" {{- paper.get_value('downloader_url') -}} " title="View this paper in PDF format"><img src="/images/pdf.jpg"/></a>
</h3>

<blockquote class="abstract">
{{ paper.get_value('abstract') }}
</blockquote>

{% if user %}
<input type="checkbox" name="readingList"
onclick="toggleReadingList(this, ' {{- user._id -}} ')"
{% if paper._id in user._dbDocDict.get('readingList', ()) %}
value="1" CHECKED
{% else %}
value="0"
{% endif %}
/> Add to my Reading List
{% endif %}

<h3>Tagged as Interesting by People in the Following Topics</h3>
{% if user %}
(Click a checkbox to tag paper as interesting for your work in that area)
<BR>
{% endif %}
{% for topic, people in paper.get_interests(sorted=True) %}
{% if user %}
<input type="checkbox" name="{{- topic._id -}}"
onclick="toggleInterest(this, ' {{- user._id -}} ')"
{% if user in people %}
value="1" CHECKED
{% else %}
value="0"
{% endif %}
/>
{% endif %}
<A HREF="{{- topic.get_local_url() -}}">
{{ topic.name }}
</A> ( {{- list_people(people) -}} )
{% endfor %}
{% if user %}
<BR>Add a topic:
<select onchange="setInterest(this.value, '1', ' {{- user._id -}} ')" name="chooseTopic">
<option value=""></option>
{% for topic,papers in user.get_interests(sorted=True) %}
<option value=" {{- topic._id -}} "> {{- topic.name -}} </option>
{% endfor %}
</select>
or enter a new tag here:
<INPUT TYPE="text" id="addNewTopic" NAME="topic" SIZE=15/>
<button onclick="setInterest($('#addNewTopic').val(), '1', ' {{- user._id -}} ')">Save</button>
{% endif %}
<BR>

<h3>Recommendations
<button
  class="g-interactivepost"
  data-contenturl=" {{- paper.get_value('source_url') -}} "
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="[WRITE YOUR RECOMMENDATION HERE] #spnetwork  #recommend {{ paper.get_value('hashtag') + ' ' + paper.get_value() -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl=" {{- paper.get_value('source_url') -}} "
  title="Click to recommend this paper on Google+">
  Write recommendation
</button>

<button
  class="g-interactivepost"
  data-contenturl=" {{- paper.get_value('source_url') -}} "
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="[WRITE YOUR RECOMMENDATION HERE] #spnetwork  #mustread {{ paper.get_value('hashtag') + ' ' + paper.get_value() -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl=" {{- paper.get_value('source_url') -}} "
  title="Click to recommend this paper as MUST-READ for your area of research">
  Recommend as Must-Read
</button>

</h3>

<dl>
{% for i,rec in enumerate(timesort(paper.recommendations)) %}
<dt>[ 
<A HREF="{{- rec.get_local_url() -}} ">
{{- i + 1 -}} </A> ]
<A HREF="{{- rec.author.get_local_url() -}}">
{{ rec.author.name }}
</A>: <B>{{ rec.title }}</B> ( {{- display_datetime(rec.published) -}} )
<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
{% if hasattr(rec, 'url') %}
<a href=" {{- rec.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
</dt>
<dd>
<span class="list-identifier">Recommended for:
{% for topic in rec.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> {{ topic.name }} </A>
{% endfor %}
</span>
<div class="list-comments">
{{ rec.text }}
{% for reply in timesort(rec.get_replies()) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>


<h3>Discussion
<button
  class="g-interactivepost"
  data-contenturl=" {{- paper.get_value('source_url') -}} "
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="[YOUR QUESTION HERE] #spnetwork {{ paper.get_value('hashtag') + ' ' + paper.get_value() -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl=" {{- paper.get_value('source_url') -}} "
  title="Click to post a question or comment about this paper on Google+">
  Discuss this paper
</button>
</h3>

<dl>
{% for i,post in enumerate(timesort(paper.posts)) %}
<dt>[ {{- i + 1 -}} ]
<A HREF="{{- post.author.get_local_url() -}}">
{{ post.author.name }}
</A> ( {{- display_datetime(post.published) -}} )
</dt>
<dd>
<div class="list-comments">{{ post.text }}
{% if hasattr(post, 'url') %}
<a href=" {{- post.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
{% for reply in timesort(post.get_replies()) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>



<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</body>
</html>
