<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/css/arXiv.css" />
<title> {{- rec.title -}} </title>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a>
{% for topic in rec.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> | {{ topic.name }}  </A>
{% endfor %}
{% if user %}
&nbsp;|&nbsp;
<a href=" {{- user.get_local_url() -}} "> {{- user.name -}} </a>
{% else %}
<A HREF="/gplus_login"><IMG SRC="/images/White-signin_Long_base_20dp.png"></A>
{% endif %}
</h1>
<form id="search" method="GET" action="/papers">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://arxiv.org/help">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)
{% if user %}
 | <a href="/signout">Signout</a>
{% endif %}
</div>
<input type="text" name="searchString" size="24" maxlength="256" />
&nbsp;
<select name="searchType">
<option value="arxiv" selected="selected">arXiv</option>
<option value="arxivID">arXiv ID</option>
<option value="DOI">DOI</option>
<option value="shortDOI">Short DOI</option>
<option value="PMID">Pubmed ID</option>
</select>
<input type="submit" value="Go!" /><br />
</form>
</div>


<h1 class="title">
{{ rec.title }}
</h1>
<div class="authors">
<A HREF="{{- rec.author.get_local_url() -}}">
{{ rec.author.name }}
</A> ( {{- display_datetime(rec.published) -}} )
</div>

<h3>Recommendation for <A HREF="{{- rec.parent.get_value('local_url') -}}">
{{ rec.parent.title }}
</a></h3>

<blockquote class="abstract">
{{ rec.text }}
</blockquote>

<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>

{% if hasattr(rec.author, 'gplus') %}
<a href=" {{- rec.author.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- rec.author.gplus['image']['url'] -}} ">Subscribe</a>
{% endif %}


</body>
</html>
