<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- rec.title -}} </title>
</head>

<body>

<div id="header">
<h1><a href="/">SelectedPapers.net</a>
{% for sig in rec.sigs %}
<A HREF="/view?view=sig&sig={{- sig._id -}}"> | {{ sig.name }}  </A>
{% endfor %}
</h1>
</div>


<h1 class="title">
{{ rec.title }}
</h1>
<div class="authors">
<A HREF="/view?view=person&person={{- rec.author._id -}}">
{{ rec.author.name }}
</A>
</div>

<h3>Recommendation for <A HREF="/view?view=paper&paper={{- rec.parent._id -}}">
{{ rec.parent.title }}
</a></h3>

<blockquote class="abstract">
{{ rec.text }}
</blockquote>

<a href="https://plus.google.com/share?url=http%3A%2F%2Fselectedpapers.net%2Fview%3Fview%3Drec%26recPaper%3D {{- rec.parent._id -}} %26recAuthor%3D {{- rec.author._id -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>

{% if hasattr(rec.author, 'gplus') %}
<a href=" {{- rec.author.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- rec.author.gplus['image']['url'] -}} ">Subscribe</a>
{% endif %}


</body>
</html>
