<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="/css/arXiv.css" />
<title> {{- person.name -}} </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe">
</script>

<script type="text/javascript">
function setPriority(subcoll, topicID, field, state)
{
  $.post("/people/ {{- person._id -}}" + subcoll + topicID,
  {
    field:field,
    state:state
  });
}
</script>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a> &gt; 
People &gt; 
{% if hasattr(person, 'gplus') %}
<a href=" {{- person.gplus['url'] -}} "> {{- person.name -}} </a>
{% else %}
{{ person.name }}
{% endif %}
</h1>
<form id="search" method="GET" action="/papers">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://docs.selectedpapers.net">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)
{% if user %}
 | <a href="/signout">Signout</a>
{% endif %}
</div>
<input type="text" name="searchString" size="24" maxlength="256" />
&nbsp;
<select name="searchType">
<option value="arxiv" selected="selected">arXiv</option>
<option value="arxivID">arXiv ID</option>
<option value="DOI">DOI</option>
<option value="shortDOI">Short DOI</option>
<option value="PMID">Pubmed ID</option>
<option value="pubmed">Pubmed</option>
<option value="ncbipubmed">Pubmed (ncbi)</option>
<option value="spnetPerson">People on spnet</option>
<option value="topic">Topics on spnet</option>
<option value="comment">Comments on spnet</option>
</select>
<input type="submit" value="Go!" /><br />
</form>
</div>

<div id="content">
<h1 class="title">
{{ person.name }}
</h1>

{% if hasattr(person, 'gplus') %}
{% if user == person %}
<a href=" {{- person.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view your settings on Google+">
<img src=" {{- person.gplus['image']['url'] -}} "></a>
<button
  class="g-interactivepost"
  data-contenturl=" {{- user.get_spnet_url() -}} "
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="I've subscribed to get your recommendations and comments on research papers via SelectedPapers.net.  To use this, just include hashtags in your posts (e.g. #spnetwork arXiv:1301.4176, for details see http://docs.selectedpapers.net/hashtags.html) or simply have SelectedPapers.net insert the appropriate hashtags in your posts for you.  It works automatically with your Google+ sign-in.  You can also use this to find and filter paper recommendations from others who share your interests."
  data-calltoactionlabel="VIEW"
  data-calltoactionurl=" {{- user.get_spnet_url() -}} "
  title="Click here to invite your contacts on Google+ to share their comments and recommendations on papers with you via SelectedPapers.net">
  Invite your contacts
</button>
{% else %}
<a href=" {{- person.gplus['url'] -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;" title="Click here to view or subscribe to this person on Google+">
<img src=" {{- person.gplus['image']['url'] -}} ">Subscribe</a>
{% endif %}
<form id="updater" method="GET" action=" {{- person.get_local_url() -}} ">
<input type="hidden" name="getUpdates" value="1"/>
Check
<select name="timeframe">
<option value="recent" selected="selected">last 20 days</option>
{% if user == person %}
<option value="all">ALL</option>
{% endif %}
</select>
of this person's posts for updates.
<input type="submit" value="Get updates"
title="retrieve latest posts and recommendations from this person via Google+" />
(Normally not needed unless old posts re-tagged with #spnetwork)
</form>

{% if user == person %}
<h3>Your Subscription Settings</h3>
The paper recommendations shown for you when you login
provide an intersection of people and ideas.
SelectedPapers.net lets you filter paper recommendations based on both 
what they're about (<B>topics</B> that interest you)
and who they're from (<B>people</B> whose judgment you trust).
It lets you combine these filters in flexible ways. 
For example, for a very general topic (only some of whose posts are
of interest to you), you could filter it to only show recommendations
from people you've subscribed to (set its <B>From Others -> Don't Show</B>).
Similarly, if you're subscribed to someone who also writes on topics
that don't excite you, filter those out (set that person's 
<B>On Other Topics -> Don't Show</B>).  
Priority settings determine whether a recommendation is
shown higher or lower in the list.
<B>Your Topics</B> include topics you've posted on or tagged as interesting.
<BR/>
<TABLE BORDER=1>
<TR><TH>Your Topics</TH><TH>From Your Subscriptions</TH><TH>From Others</TH></TR>
{% for i,t in enumerate(person.get_topics()) %}
<TR><TD><A HREF="/topics/{{- t[0] -}}">
{{ '#' + t[0] }}
</A></TD><TD>
{{ Selection('mine%d' % i, [('high', 'High Priority'), ('medium', 'Medium Priority'), ('low', 'Lower Priority'), ('hide', "Don't Show"), ], selected=t[1], onchange="setPriority('/topics/', '%s', 'fromMySubs', this.value)" % t[0]) }}
</TD><TD>
{{ Selection('other%d' % i, [('same', 'Same Priority'), ('high', 'High Priority'), ('medium', 'Medium Priority'), ('low', 'Lower Priority'), ('hide', "Don't Show"), ], selected=t[2], onchange="setPriority('/topics/', '%s', 'fromOthers', this.value)" % t[0]) }}
</TD></TR>
{% endfor %}
</TABLE>
<BR/>
<TABLE BORDER=1>
<TR><TH>Your Subscriptions</TH><TH>On Your Topics</TH><TH>On Other Topics</TH></TR>
{% for i,sub in enumerate(person.subscriptions) %}
<TR><TD><A HREF="{{- sub.author.get_value('local_url') -}}">
{{ sub.author.name }}
</A></TD><TD>
{{ Selection('sub%d' % i, [('topic', 'Topic Priority'), ('high', 'High Priority'), ('medium', 'Medium Priority'), ('low', 'Lower Priority'), ('hide', "Don't Show"), ], selected=getattr(sub, 'onMyTopics', 'topic'), onchange="setPriority('/subscriptions/', '%s', 'onMyTopics', this.value)" % sub.author._id) }}
</TD><TD>
{{ Selection('subother%d' % i, [('high', 'High Priority'), ('medium', 'Medium Priority'), ('low', 'Lower Priority'), ('hide', "Don't Show"), ], selected=getattr(sub, 'onOthers', 'low'), onchange="setPriority('/subscriptions/', '%s', 'onOthers', this.value)" % sub.author._id) }}
</TD></TR>
{% endfor %}
</TABLE>
<BR/>
Your subscriptions above are based on your Google+ Circles
(but only include people who have used or posted to selectedpapers.net).
Note: you can add or remove people from your Google+ Circles on 
<A HREF="https://plus.google.com/{{- user.gplus.id -}}/about"
title="Edit your settings on Google+">
your Google+ settings</A> (in the usual way).
You can also invite your contacts on Google+ to share
their comments and recommendations on papers with you via SelectedPapers.net,
by clicking the <B>Invite your contacts</B> button at the top.

{% endif %}
{% endif %}


{% if person.recommendations %}
<h3>Recommendations</h3>
<dl>
{% for i,rec in enumerate(timesort(person.recommendations)) %}
<dt>[ {{- i + 1 -}} ]
<B><A HREF="{{- rec.get_local_url() -}}">Recommendation</A> for</B>
<A HREF="{{- rec.parent.get_value('local_url') -}}"> 
{{ rec.parent.title }} </A> 
{% if rec.sigs %}
RE: topics:
{% for topic in rec.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> {{ topic.name }} </A>
{% endfor %}
{% endif %}
( {{- display_datetime(rec.published) -}} )
<a href="https://plus.google.com/share? {{- urlencode(dict(url=rec.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
{% if hasattr(rec, 'url') %}
<a href=" {{- rec.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
</dt>
<dd>
<div class="list-comments">
<input type="checkbox" id="rectoggle {{- i -}}"/>Show discussion.<BR>
<div id="rectext {{- i -}}" style="display: none">
{{ rec.get_text() }}
{% for reply in timesort(rec.get_replies(), reverse=False) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.get_text() }}
</li>
{% endfor %}
</div>
</div>
</dd>

<script>
$( "#rectoggle {{- i -}}" ).click(function() {
  $( "#rectext {{- i -}}" ).toggle();
});
</script>
{% endfor %}
</dl>
{% endif %}

{% if person.interests %}
<h3>Tagged the Following Papers as Interesting</h3>
<dl>
{% for i,interest in enumerate(person.interests) %}
<dt>[ {{- i + 1 -}} ]
<A HREF="{{- interest.parent.get_value('local_url') -}}">
{{ interest.parent.title }}
</A></dt>
<dd>Of interest for:
{% for topic in interest.topics %}
<a href=" {{- topic.get_local_url() -}} "> {{- topic.name -}} </a>
{% endfor %}
</dd>
{% endfor %}
</dl>
{% endif %}


{% if len(person.posts) > len(person.recommendations) %}
{% set i = 0 %}
<h3>Discussion</h3>

<dl>
{% for post in timesort(person.posts) %}
{% if not post.is_rec() %}
{% set i = i + 1 %}
<dt>[ {{- i -}} ]
<B><A HREF="{{- post.get_local_url() -}}">Comment</A> on</B>
<A HREF="{{- post.parent.get_value('local_url') -}}">
{{ post.parent.title }}
</a> 
{% if post.sigs %}
RE: topics:
{% for topic in post.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> {{ topic.name }} </A>
{% endfor %}
{% endif %}
( {{- display_datetime(post.published) -}} )</dt>
<dd>
<div class="list-comments">
<input type="checkbox" id="disctoggle {{- i -}}"/>Show discussion.<BR>
<div id="disctext {{- i -}}" style="display: none">
{{ post.get_text() }}
{% if hasattr(post, 'url') %}
<a href=" {{- post.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
{% for reply in timesort(post.get_replies(), reverse=False) %}
<li><A HREF="{{- reply.author.get_local_url() -}}">
{{ reply.author.name }}
</A> replies ( {{- display_datetime(reply.published) -}} ):
{{ reply.get_text() }}
</li>
{% endfor %}
</div>
</div>
</dd>

<script>
$( "#disctoggle {{- i -}}" ).click(function() {
  $( "#disctext {{- i -}}" ).toggle();
});
</script>
{% endif %}
{% endfor %}
</dl>
{% endif %}
</div>

<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</body>
</html>
