<!DOCTYPE html>
<html>
<head>
    <title>SelectedPapers.net</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/arXiv.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/spnet.css" />
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>
</head>

<body>
<div id="header">
    <h1><img src="/favicon.ico"/> <a href="/">SelectedPapers.net</a> | 
    {% if user %}
    Welcome,
    <a href=" {{- user.get_local_url() -}} "> {{- user.name -}} </a>!
    {% else %}
    <a href="/gplus_login"><img src="/images/White-signin_Long_base_20dp.png"/></a>
    {% endif %}
    </h1>
    <form id="search" method="GET" action="/papers">
        <div class="search-for">
            Search or Article-id
        </div>
        <div class="links">
            (<a href="http://docs.selectedpapers.net">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)
            {% if user %}
            | <a href="/signout">Signout</a>
            {% endif %}
        </div>
        <input type="text" name="searchString" size="24" maxlength="256" />
        &nbsp;
        <select name="searchType">
        <option value="arxiv" selected="selected">arXiv</option>
        <option value="arxivID">arXiv ID</option>
        <option value="DOI">DOI</option>
        <option value="shortDOI">Short DOI</option>
        <option value="PMID">Pubmed ID</option>
        <option value="pubmed">Pubmed</option>
        <option value="ncbipubmed">Pubmed (ncbi)</option>
        </select>
        <input type="submit" value="Go!" /><br />
    </form>
</div>

<div id="body_container">

<div class="bounded">
    {% if user %}
    <p>Note: <a href="http://docs.selectedpapers.net/intro.html#latex">
    LaTeX equations are now supported.</a>
    <i>This is an initial, alpha release of SelectedPapers.net.
    Please give us your feedback</i>: either 
    <a href="https://groups.google.com/forum/#!forum/spnet-user">general comments</a> or 
    specific <a href="https://github.com/cjlee112/spnet/issues">new bug reports
    or feature suggestions</a>.</p>

    <h2>Your Selected Papers Network</h2>
    <!-- User is logged in -->
    {% set recs = user.get_deliveries() %}
    {% if recs %}
    <h2 title="A list of paper recommendations based on your topics and subscriptions.  To adjust these settings, click on your name on the top bar.">
    Recommended For You</h2>
    <ol>
        {% for r in recs %}
        <li><a href="/people/{{- r['from'] -}}" title="Click to view the person who wrote this recommendation"> {{ r['name'] }}</a>:
        <a href="/papers/{{- str(r['paper']) + '/recs/' + str(r['from']) -}}" title="Click to view this paper recommendation"> {{ r['title'] }}</a> for:
        {% for topic in r['topics'] %}<a href="/topics/{{- topic -}}"> {{ '#' + topic }}</a> {% endfor %}
        ( {{- display_datetime(r['published']) -}} )
        </li>
        {% endfor %}
    </ol>
    {% endif %}

    {% if user.interests %}
    <h3>Papers You Tagged as Interesting</h3>
    <ol>
        {% for interest in user.interests %}
        <li>
            <a href="{{- interest.parent.get_value('local_url') -}}">{{ interest.parent.title }}</a>
            <span class="list-authors">{{ ', '.join(interest.parent.authorNames) }}</span>
        </li>
        {% endfor %}
    </ol>
    {% endif %}

    {% if user.readingList %}
    <h3>Your Reading List</h3>
    <ol>
        {% for paper in user.readingList[-1::-1] %}
        <li>
            <a href="{{- paper.get_value('local_url') -}}">{{ paper.title }}</a>
            <span class="list-authors">{{ ', '.join(paper.authorNames) }}</span>
        </li>
        {% endfor %}
    </ol>
    {% endif %}

    {% if len(user.subscriptions) < 5 %}
    <h3>Invitations</h3>
    Few of the people you're subscribed to on Google+ are using
    SelectedPapers.net yet.  Would you like to invite them to share
    their comments and recommendations on papers with you this way?
    (This will simply bring up a Google+ window where you can send
    them an invitation post).<br>
    <button
    class="g-interactivepost"
    data-contenturl=" {{- user.get_spnet_url() -}} "
    data-clientid=" {{- gplusClientID -}} "
    data-cookiepolicy="single_host_origin"
    data-prefilltext="I've subscribed to get your recommendations and comments on research papers via SelectedPapers.net.  To use this, just include hashtags in your posts (e.g. #spnetwork arXiv:1301.4176, for details see http://docs.selectedpapers.net/hashtags.html) or simply have SelectedPapers.net insert the appropriate hashtags in your posts for you.  It works automatically with your Google+ sign-in.  You can also use this to find and filter paper recommendations from others who share your interests."
    data-calltoactionlabel="VIEW"
    data-calltoactionurl=" {{- user.get_spnet_url() -}} "
    title="Click to recommend this paper on Google+">
    Post Invitation
    </button>
    {% endif %}

    {% else %}
    <!-- User is NOT logged in -->
    <h2>Introduction</h2>
    <p>SelectedPapers.net is a free, open-source project aimed
    at improving the way people find, read, and share academic papers. </p>
    <p>By looking at the intersection of <strong>people</strong> and <strong>ideas</strong>,
    we can help deliver content specifically tuned to your interests.  But we're just getting started, 
    and we can use your help.
    <i>This is an initial, alpha release of SelectedPapers.net.
    Please give us your feedback</i>: either 
    <a href="https://groups.google.com/forum/#!forum/spnet-user">general comments</a> or 
    specific <a href="https://github.com/cjlee112/spnet/issues">new bug reports
    or feature suggestions</a>.
    Note: <a href="http://docs.selectedpapers.net/intro.html#latex">
    LaTeX equations are now supported.</a>
    </p>
    <p>Give it a try by signing in below,
    or learn more about how it works.</p>
    <a href="/gplus_login"><img src="/images/Red-signin_Long_base_20dp.png"></a>
    <p>More details:
    <ul>
        <li><a href="http://docs.selectedpapers.net/intro.html">How it works.</a></li>
        <li><a href="http://www.huffingtonpost.com/travis-korte/elsevier-boycott-mathematicians-network_b_1346365.html">The Huffington Post article.</a></li>
        <li><a href="/shortDOI/fzkjw8">The theory behind it.</a></li>
    </ul></p>
    {% endif %}
</div>

<div>
    <h2>Recent Activity on SelectedPapers.net</h2>
    <dl>
        {% for e in recentEvents %}
        {% if e.__class__.__name__ == 'Post' %}
        <div class="recent_activity_item">
            <a href="{{- e.author.get_local_url() -}}">
            {{ e.author.name }}
            </a> commented on
            <a href="{{- e.parent.get_value('local_url') -}}">{{- e.parent.title -}}</a>
            ( {{- display_datetime(e.published) -}} )
            <div class="list-comments indent">
                {{ e.get_text() }}
                {% if hasattr(post, 'url') %}
                <a href=" {{- e.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
                <img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
                {% endif %}
            </div>
        </div>

        {% elif e.__class__.__name__ == 'Reply' %}
        <div class="recent_activity_item">
            <a href="{{- e.author.get_local_url() -}}">
            {{ e.author.name }}
            </a> replied RE: 
            <a href="{{- e.parent.get_value('local_url') -}}">{{- e.parent.title -}}</a>
            ( {{- display_datetime(e.published) -}} )
            <div class="list-comments indent">
                {{ e.get_text() }}
            </div>
        </div>


        {% elif e.__class__.__name__ == 'Recommendation' %}
        <div class="recent_activity_item">
            <a href="{{- e.author.get_local_url() -}}">
            {{ e.author.name }}
            </a>: <a href="{{- e.get_local_url() -}} ">
            {{ e.title or 'Paper Recommendation' }}</a> 
            ( {{- display_datetime(e.published) -}} )
            <a href="https://plus.google.com/share? {{- urlencode(dict(url=e.get_spnet_url())) -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
            {% if hasattr(rec, 'url') %}
            <a href=" {{- e.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
            <img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
            {% endif %}
            <div>
            
            <span class="list-identifier">Recommended 
            <a href="{{- e.parent.get_value('local_url') -}}">{{- e.parent.title -}}</a>
            {% if e.sigs %}
            {% for topic in e.sigs %}
            <a href="{{- topic.get_local_url() -}}"> {{ topic.name }} </a>
            {% endfor %}            
            </span>
            
            <div class="list-comments">
            {{ e.get_text() }}
            </div>
            {% endif %}
        </div>


        {% elif e.__class__.__name__ == 'SIG' %}
        <div class="recent_activity_item">
            <a href="{{- e.get_local_url() -}}">{{- e.name -}} </a> new topic created ( {{- display_datetime(e.published) -}} )
            </div>
        {% endif %}
        
        {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
(function() {
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/client:plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
</body>

</html>
