<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title>SelectedPapers.net</title>
</head>

<body>

<div id="header">
<h1><img src="/favicon.ico"/><a href="/">SelectedPapers.net</a> &gt; 
{% if user %}
Welcome,
<a href=" {{- user.get_local_url() -}} "> {{- user.name -}} </a>
{% else %}
<A HREF="/gplus_login"><IMG SRC="/images/White-signin_Long_base_20dp.png"></A>
{% endif %}
</h1>
<form id="search" method="GET" action="/arxiv">
<div class="search-for">Search or Article-id</div>
<div class="links">(<a href="http://arxiv.org/help">Help</a> | <a href="http://arxiv.org/find">Advanced search</a>)</div>
<input type="text" name="searchString" size="24" maxlength="64" />
&nbsp;
<input type="submit" value="Go!" /><br />
</form>
</div>

{% if user %}
{% if user.subscriptions %}

<h3>Your Subscriptions</h3>

<dl>
{% for i,person in enumerate(user.subscriptions) %}
<dt>[ {{- i + 1 -}} ]:
<A HREF="{{- person.get_value('local_url') -}}">
{{ person.name }}
</A>
{% if hasattr(person, 'gplus') %}
<a href=" {{-person.get_local_url() -}} ?getUpdates=1" 
title="retrieve latest posts and recommendations from this person via Google+">
<button>Check Google+ for Updates</button></a>
{% endif %}
</dt>
<dd>
{% for i,rec in enumerate(timesort(person.recommendations)) %}
<li><A HREF="{{- rec.get_local_url() -}} ">{{ rec.title }}</A>:
Recommended for:
{% for topic in rec.sigs %}
<A HREF="{{- topic.get_local_url() -}}"> {{ topic.name }} </A>
{% endfor %}
( {{- display_datetime(rec.published) -}} )
</li>
{% endfor %}
</dd>
{% endfor %}
</dl>
{% else %}

<h3>Invitations</h3>
None of the people you're subscribed to on Google+ are using
SelectedPapers.net yet.  Would you like to invite them to share
their comments and recommendations on papers with you this way?
(This will simply bring up a Google+ window where you can send
them an invitation post).<br>
<button
  class="g-interactivepost"
  data-contenturl=" {{- user.get_spnet_url() -}} "
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="I've subscribed to get your recommendations and comments on research papers via SelectedPapers.net.  To use this, just include hashtags in your posts (e.g. #spnetwork #arxiv_1234_5678, for details see http://selectedpapers.net/docs/tags.html) or simply have SelectedPapers.net insert the appropriate hashtags in your posts for you.  It works automatically with your Google+ sign-in.  You can also use this to find and filter paper recommendations from others who share your interests."
  data-calltoactionlabel="VIEW"
  data-calltoactionurl=" {{- user.get_spnet_url() -}} "
  title="Click to recommend this paper on Google+">
  Post Invitation
</button>

{% endif %}

<h3>Papers You Tagged as Interesting</h3>

<dl>
{% for i,interest in enumerate(user.interests) %}
<dt>[ {{- i + 1 -}} ]:
<A HREF="{{- interest.parent.get_value('local_url') -}}">
{{ interest.parent.title }}
</A>
</dt>
{% endfor %}
</dl>

<h3>Your Reading List</h3>

<dl>
{% for i,paper in enumerate(user.readingList[-1::-1]) %}
<dt>[ {{- i + 1 -}} ]:
<A HREF="{{- paper.get_value('local_url') -}}">
{{ paper.title }}
</A>
</dt>
<dd>
<div class="list-authors">
{{ ', '.join(paper.authorNames) }} 
</div>
</dd>
{% endfor %}
</dl>


{% else %}
(add text explaining how to sign-in via Google+)
{% endif %}



<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</body>
</html>
