<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- paper.title -}} </title>
</head>

<body>
{% if hasattr(paper, 'arxiv') %}

<div id="header">
<h1><a href="/">SelectedPapers.net</a> &gt; <a href="http://arxiv.org">arXiv.org</a> &gt; <a href="http://arxiv.org/abs/ {{- paper.arxiv.id -}} "> {{- paper.arxiv.id -}} </a></h1>
</div>

<h1 class="title">
{{ paper.title }}
</h1>
<div class="authors">
{{ ', '.join(paper.authorNames) }}
</div>

<h3>Abstract
<a href="https://plus.google.com/share?url=http%3A%2F%2Fselectedpapers.net%2Fview%3Fview%3Dpaper%26arxivID%3D {{- paper.arxiv.id -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this paper on Google+"/></a>
<a href="http://arxiv.org/pdf/ {{- paper.arxiv.id -}} .pdf" title="View this paper in PDF format"><img src="/images/pdf.jpg"/></a>
</h3>

<blockquote class="abstract">
{{ paper.summary }}
</blockquote>


<h3>SIG Topics</h3>

{% for sig in paper.sigs %}
<li><A HREF="/view?view=sig&sig={{- sig._id -}}">
{{ sig.name }}
</A>
</li>
{% endfor %}

<h3>Recommendations
<button
  class="g-interactivepost"
  data-contenturl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="[WRITE YOUR RECOMMENDATION HERE] #spnetwork  #recommend #arxiv_ {{- paper.arxiv.id.replace('.', '_') }} http://localhost:8000/view?view=paper&arxivID= {{- paper.arxiv.id -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  title="Click to recommend this paper on Google+">
  Write recommendation
</button>

<button
  class="g-interactivepost"
  data-contenturl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="[WRITE YOUR RECOMMENDATION HERE] #spnetwork  #mustread #arxiv_ {{- paper.arxiv.id.replace('.', '_') }} http://localhost:8000/view?view=paper&arxivID= {{- paper.arxiv.id -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  title="Click to recommend this paper as MUST-READ for your area of research">
  Recommend as Must-Read
</button>

</h3>

<dl>
{% for i,rec in enumerate(paper.recommendations) %}
<dt>[ 
<A HREF="/view?view=rec&recAuthor={{- rec.author._id -}} &recPaper={{- rec.parent._id -}}">
{{- i + 1 -}} </A> ]
<A HREF="/view?view=person&person={{- rec.author._id -}}">
{{ rec.author.name }}
</A>: <B>{{ rec.title }}</B> 
<a href="https://plus.google.com/share?url=http%3A%2F%2Fselectedpapers.net%2Fview%3Fview%3Drec%26recPaper%3D {{- paper._id -}} %26recAuthor%3D {{- rec.author._id -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+" title="Share this recommendation on Google+"/></a>
{% if hasattr(rec, 'url') %}
<a href=" {{- rec.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
</dt>
<dd>
<span class="list-identifier">Recommended for:
{% for sig in rec.sigs %}
<A HREF="/view?view=sig&sig={{- sig._id -}}"> {{ sig.name }} </A>
{% endfor %}
</span>
<div class="list-comments">
{{ rec.text }}
{% for reply in rec.get_replies() %}
<li><A HREF="/view?view=person&person={{- reply.author._id -}}">
{{ reply.author.name }}
</A> replies:
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>


<h3>Discussion
<button
  class="g-interactivepost"
  data-contenturl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="Check out this paper... #spnetwork  #comment #arxiv_ {{- paper.arxiv.id.replace('.', '_') }} http://localhost:8000/view?view=paper&arxivID= {{- paper.arxiv.id -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  title="Click to post a comment on this paper on Google+">
  Comment on this paper
</button>

<button
  class="g-interactivepost"
  data-contenturl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="[YOUR QUESTION HERE] #spnetwork  #question #arxiv_ {{- paper.arxiv.id.replace('.', '_') }} http://localhost:8000/view?view=paper&arxivID= {{- paper.arxiv.id -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl="http://arxiv.org/abs/ {{- paper.arxiv.id -}}"
  title="Click to post a question about this paper on Google+">
  Ask a question
</button>
</h3>

<dl>
{% for i,post in enumerate(paper.posts) %}
<dt>[ {{- i + 1 -}} ]
<A HREF="/view?view=person&person={{- post.author._id -}}">
{{ post.author.name }}
</A>
</dt>
<dd>
<div class="list-comments">{{ post.text }}
{% if hasattr(post, 'url') %}
<a href=" {{- post.url -}} " onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800');return false;">
<img src="/images/reply.jpg" title="Click here to reply to this comment on Google+"></a>
{% endif %}
{% for reply in post.get_replies() %}
<li><A HREF="/view?view=person&person={{- reply.author._id -}}">
{{ reply.author.name }}
</A> replies:
{{ reply.text }}
</li>
{% endfor %}
</div>
</dd>
{% endfor %}
</dl>


{% else %}
<h3>Authors</h3>

{% for author in paper.authors %}
<li><A HREF="/view?view=person&person={{- author._id -}}">
{{ author.name }}
</A></li>
{% endfor %}


<h3>Abstract</h3>

{{ paper.abstract }}


<h3>Recommend This</h3>
<FORM ACTION="/view" METHOD="POST">
<INPUT TYPE="hidden" NAME="view" VALUE="new_rec">
<INPUT TYPE="hidden" NAME="paper" VALUE="{{- paper._id -}}">
Enter your recommendation below:<br>
<TEXTAREA NAME="text" COLS=50 ROWS=20></TEXTAREA>
<INPUT TYPE="submit">
</FORM>
{% endif %}

<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</body>
</html>
