<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="http://arxiv.org/css/arXiv.css" />
<title> {{- paper.title -}} </title>
</head>

<body>
{% if hasattr(paper, 'arxiv') %}

<div id="header">
<h1><a href="/">SelectedPapers.net</a> &gt; <a href="http://arxiv.org">arXiv.org</a> &gt; <a href="http://arxiv.org/abs/ {{- paper.arxiv.id -}} "> {{- paper.arxiv.id -}} </a></h1>
</div>

<h1 class="title">
{{ paper.title }}
</h1>
<div class="authors">
{{ ', '.join(paper.authorNames) }}
</div>

<h3>Abstract</h3>

<blockquote class="abstract">
{{ paper.summary }}
</blockquote>


<a href="https://plus.google.com/share?url=http%3A%2F%2Fselectedpapers.net%2Fview%3Fview%3Dpaper%26arxivID%3D {{- paper.arxiv.id -}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+"/></a>

<button
  class="g-interactivepost"
  data-contenturl="http://arxiv.org/arxiv/ {{- paper.arxiv.id -}}"
  data-clientid=" {{- gplusClientID -}} "
  data-cookiepolicy="single_host_origin"
  data-prefilltext="Check out this paper... #spnetwork  #arxiv_ {{- paper.arxiv.id.replace('.', '_') }} http://localhost:8000/view?view=paper&arxivID= {{- paper.arxiv.id -}}"
  data-calltoactionlabel="VIEW"
  data-calltoactionurl="http://www.ucla.edu">
  Comment on this paper.
</button>

<h3>SIG Topics</h3>

{% for sig in paper.sigs %}
<li><A HREF="/view?view=sig&sig={{- sig._id -}}">
{{ sig.name }}
</A>
</li>
{% endfor %}

{% if paper.recommendations %}
<h3>Recommendations</h3>

{% for rec in paper.recommendations %}
<li><A HREF="/view?view=person&person={{- rec.author._id -}}">
{{ rec.author.name }}
</A> says:
{{ rec.text }}
</li>
{% endfor %}
{% endif %}


{% if paper.posts %}
<h3>Discussion</h3>

{% for post in paper.posts %}
<li><A HREF="/view?view=person&person={{- post.author._id -}}">
{{ post.author.name }}
</A> says:
{{ post.text }}
{% for reply in post.get_replies() %}
<li><A HREF="/view?view=person&person={{- reply.author._id -}}">
{{ reply.author.name }}
</A> replies:
{{ reply.text }}
</li>
{% endfor %}
</li>
{% endfor %}
{% endif %}


{% else %}
<h3>Authors</h3>

{% for author in paper.authors %}
<li><A HREF="/view?view=person&person={{- author._id -}}">
{{ author.name }}
</A></li>
{% endfor %}


<h3>Abstract</h3>

{{ paper.abstract }}


<h3>Recommend This</h3>
<FORM ACTION="/view" METHOD="POST">
<INPUT TYPE="hidden" NAME="view" VALUE="new_rec">
<INPUT TYPE="hidden" NAME="paper" VALUE="{{- paper._id -}}">
Enter your recommendation below:<br>
<TEXTAREA NAME="text" COLS=50 ROWS=20></TEXTAREA>
<INPUT TYPE="submit">
</FORM>
{% endif %}

<script type="text/javascript">
  (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/client:plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
</body>
</html>
