body {
    background-color: #e5e5e5;
    font-size: larger;
}

#body_container {
    padding: 1%;
}

.bounded, .recent_activity {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    border: thin gray solid;
    background-color: white;
}

h2 {
    font-variant: small-caps;
}

.recent_activity_item {
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: thin black dashed;
    border: thin #B31B1B solid;
    background-color: #FFFAFA;
}

.indent {
    padding-left: 1%;
}